.form-row{
    width: 100%;
}
.new-item-form{
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    
    
}
.label-item{
    font-size: 2rem;
    color: #969696;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input-item{
    width: 100%;
    height: 1.3rem;
    background-color: #2a628f;
    border: 0;
    color: #f6f6f6;
    border-radius: 3px;
}
.input-item:focus{
    outline:2px solid rgb(0, 153, 255);
}
.button-item{
    display: block;
    width: 100%;
    background-color: rgb(38, 73, 97);
    border: 2px solid #0494fa;
    border-radius: 3px;
    margin:0;

    margin: 0 auto;
    margin-top:10px ;
    color: #0494fa;
}
.button-item:hover{
    background-color: #0494fa;
    color: rgb(38, 73, 97);
    border: 2px solid rgb(38, 73, 97);
}
:root{
    background-color: rgb(28, 52, 68);
    box-sizing: border-box;
}
.h1-item{
    color: #969696;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.task-item{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: #f6f6f6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.task-item label{
    display: flex;
    font-size: 1rem;
    padding: 0 1rem;
    justify-content: space-around;
    align-items: center;
}
.task-item button{
    background-color: rgba(255, 0, 0, 0.103);
    border:1px solid rgb(225, 46, 46);
    border-radius: 3px;
    color: rgb(225, 46, 46);
}
.input-item-todo{
    user-select: none;
    color: #f6f6f6;
}
.input-item-todo:checked + .label-tag{
    color: #969696;
    text-decoration: line-through ;
}
.container-items{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.text-center{
    text-align: center;
    color: #f6f6f6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}